---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Vlad Blog">
	<div class="min-h-[100px]">
		<h1 class="text-3xl font-bold text-blue-800 mb-4">Bienvenido a mi blog</h1>
		<p class="mb-8 text-lg">Este es un sitio de ejemplo creado con Astro.</p>
	</div>
</Layout>





